html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }

  html img {
    filter: invert(1) hue-rotate(180deg);
  }
}
*::-webkit-scrollbar {
  width: 10px;
  background: #2bbaac;
}
*::-webkit-scrollbar-corner, /* 滚动条角落 */
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
  border-radius: 5px;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track { /* 滚动条轨道 */
  background-color:  white;
  box-shadow: inset 0 0 1px #2bbaac;
}
*::-webkit-scrollbar-thumb { /* 滚动条手柄 */
  background-color: #2bbaac;
}